In [3]:
import pandas as pd
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
x = df[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]
y = df[['Species']]

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=40)

In [6]:
x_train

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
62            6.0           2.2            4.0           1.0
23            5.1           3.3            1.7           0.5
26            5.0           3.4            1.6           0.4
48            5.3           3.7            1.5           0.2
2             4.7           3.2            1.3           0.2
..            ...           ...            ...           ...
71            6.1           2.8            4.0           1.3
12            4.8           3.0            1.4           0.1
50            7.0           3.2            4.7           1.4
7             5.0           3.4            1.5           0.2
70            5.9           3.2            4.8           1.8

[120 rows x 4 columns]

In [7]:
x_test

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
38             4.4           3.0            1.3           0.2
66             5.6           3.0            4.5           1.5
115            6.4           3.2            5.3           2.3
117            7.7           3.8            6.7           2.2
89             5.5           2.5            4.0           1.3
136            6.3           3.4            5.6           2.4
68             6.2           2.2            4.5           1.5
94             5.6           2.7            4.2           1.3
84             5.4           3.0            4.5           1.5
28             5.2           3.4            1.4           0.2
90             5.5           2.6            4.4           1.2
11             4.8           3.4            1.6           0.2
40             5.0           3.5            1.3           0.3
126            6.2           2.8            4.8           1.8
79             5.7           2.6            3.5           1.0
144            6.7           3.3            5.7           2.5
123            6.3           2.7            4.9           1.8
124            6.7           3.3            5.7           2.1
76             6.8           2.8            4.8           1.4
59             5.2           2.7            3.9           1.4
132            6.4           2.8            5.6           2.2
105            7.6           3.0            6.6           2.1
53             5.5           2.3            4.0           1.3
17             5.1           3.5            1.4           0.3
64             5.6           2.9            3.6           1.3
18             5.7           3.8            1.7           0.3
13             4.3           3.0            1.1           0.1
116            6.5           3.0            5.5           1.8
9              4.9           3.1            1.5           0.1
81             5.5           2.4            3.7           1.0

In [8]:
y_train

            Species
62  Iris-versicolor
23      Iris-setosa
26      Iris-setosa
48      Iris-setosa
2       Iris-setosa
..              ...
71  Iris-versicolor
12      Iris-setosa
50  Iris-versicolor
7       Iris-setosa
70  Iris-versicolor

[120 rows x 1 columns]

In [9]:
y_test

             Species
38       Iris-setosa
66   Iris-versicolor
115   Iris-virginica
117   Iris-virginica
89   Iris-versicolor
136   Iris-virginica
68   Iris-versicolor
94   Iris-versicolor
84   Iris-versicolor
28       Iris-setosa
90   Iris-versicolor
11       Iris-setosa
40       Iris-setosa
126   Iris-virginica
79   Iris-versicolor
144   Iris-virginica
123   Iris-virginica
124   Iris-virginica
76   Iris-versicolor
59   Iris-versicolor
132   Iris-virginica
105   Iris-virginica
53   Iris-versicolor
17       Iris-setosa
64   Iris-versicolor
18       Iris-setosa
13       Iris-setosa
116   Iris-virginica
9        Iris-setosa
81   Iris-versicolor

In [10]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(x_train,y_train)
y_pred = dtc.predict(x_test)
y_pred

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-versicolor'],
      dtype=object)

In [11]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
acc = accuracy_score(y_test,y_pred)
print("Accuracy : ",acc)

Accuracy :  1.0

In [12]:
cm = confusion_matrix(y_test,y_pred)
print('confusion_matrix : \n',cm)

confusion_matrix :
 [[ 8  0  0]
 [ 0 12  0]
 [ 0  0 10]]

In [13]:
cr = classification_report(y_test,y_pred)
print('classification_report : \n',cr)

classification_report :
                  precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         8
Iris-versicolor       1.00      1.00      1.00        12
 Iris-virginica       1.00      1.00      1.00        10

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [14]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)
y_pred

C:\Users\Asus\AppData\Roaming\Python\Python313\site-packages\sklearn\utils\validation.py:1406: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-setosa', 'Iris-versicolor', 'Iris-setosa', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor', 'Iris-setosa',
       'Iris-setosa', 'Iris-virginica', 'Iris-setosa', 'Iris-versicolor'],
      dtype=object)

In [15]:
acc1 = accuracy_score(y_test,y_pred)
print('Accuracy : ',acc1)

Accuracy :  1.0

In [16]:
cm1=confusion_matrix(y_test,y_pred)
print('Confusion matrix : \n',cm1)

Confusion matrix :
 [[ 8  0  0]
 [ 0 12  0]
 [ 0  0 10]]

In [17]:
cr1 = classification_report(y_test,y_pred)
print('classification_report : \n',cr1)

classification_report :
                  precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00         8
Iris-versicolor       1.00      1.00      1.00        12
 Iris-virginica       1.00      1.00      1.00        10

       accuracy                           1.00        30
      macro avg       1.00      1.00      1.00        30
   weighted avg       1.00      1.00      1.00        30

In [18]:
from sklearn.svm import svc
svc = svc(kernel = 'Linear',random_state = 0)
svc.fit(x_train,y_train)
y_pred = svc.predict(x_test)
y_pred

ImportError: cannot import name 'svc' from 'sklearn.svm' (C:\Users\Asus\AppData\Roaming\Python\Python313\site-packages\sklearn\svm\__init__.py)